<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe Share App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- 共通CSS -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

  <!-- ページ専用CSS（任意） -->
  <%= yield :page_css %>
</head>
<body>
  <%= yield %>
</body>
</html>

